<div class="jumbotron">
  <h1>Shoe_Parlour!</h1>
  <p class= "lead">Need to manage some shoes and/or shoe stores?here's the right place.</p>
</div>

<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <a><img class="photo" src="img/ty.jpg" alt="a photo of various pairs of shoes"></a>
  </div>
</div>

<div class="row">
  <div class="col-sm-3 col-sm-offset-2">
    <h2 class="center">Your Brands</h2>
    <p class="center">View, add to or update your shoe brands.</p>
    <p><a class="btn btn-success btn-lg btn-block" href="/brands">Go to Brands</a></p>
  </div>
  <div class="col-sm-3 col-sm-offset-2">
    <h2 class="center">Your Stores</h2>
    <p class="center">View, add to or update your shoe stores.</p>
    <p><a class="btn btn-success btn-lg btn-block" href="/stores">Go to Stores</a></p>
  </div>
</div>
