<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" media="all" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href="/css/styles.css" rel="stylesheet" type="text/css" media="all">
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shoes_distributor</title>
  </head>
    <body>
        <div class="container-fluid">
          <header class="page-header">
            <ul class="nav nav-pills pull-right">
                <li class="active"><a href="/brands">Brands</a></li>
                <li class="active"><a href="/stores">Stores</a></li>
                <li class="active"><a href="/">Home</a></li>
            </ul>
            <h3><a href="/">Shoe_parlour!</a></h                    <div class="pages">
          <%= yield %>
        </div>
        <nav class="footer">
            <div class="container">
              <br><br><br><p>Copyirght &copy; RitaWoki!2017</p>
                          <p>Email:ritapwanjiku@gmail.com</p>

           </div>
        </nav>
      </div>
  </body>
</html>
